body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.NoTextLayout {
  text-decoration: none !important;
  color: rgb(0, 0, 0) !important;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.software-card {
  border: none;
  transition: transform 0.3s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
}

header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #212529 !important; 
  color: white;
  text-align: center;
  padding: 20px 0;
  z-index: 1000;
}


body {
  padding-top: 150px; 
}


footer {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #212529 !important; 
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
}


body {
  padding-bottom: 50px; 
}


footer p {
  margin: 0;
}

footer a {
  color: white !important;
  text-decoration: none !important;
}

footer a:hover {
  color: rgb(126, 126, 126) !important;
  text-decoration: none !important;
}

.back-button {
  position: fixed !important;
  top: 20px !important;
  left: 20px !important;
  background-color: #333 !important;
  color: white !important;
  padding: 8px 15px !important;
  text-decoration: none !important;
  border-radius: 5px !important;
  font-size: 18px !important;
  transition: background-color 0.3s ease !important;
  z-index: 1001;
}

.back-button:hover {
  background-color: #555 !important;
}

/*
@media (max-width: 800px) {
  .container {
      margin-left: 5%; 
      width: 90%;  
  }
}
*/


.docs_container {
  width: 40% !important;
  background: white !important;
  padding: 20px !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  margin-left: 30% !important;
  margin-right: 30% !important;
  min-height: 100% !important; 
}

@media (max-width: 800px) {
  .docs_container {
    margin-left: 5% !important; 
    margin-right: 5% !important; 
    width: 90% !important; 
  }

  .container {
    margin-left: 5% !important; 
    width: 90% !important;  
  }

  header h1 {
      font-size: 24px;
  }

  .program-card {
      padding: 15px;
  }

  .download-btn {
      padding: 10px 18px;
  }
}

table {
  width: 100% !important;
  border-collapse: collapse !important;
  background: #fff !important;
}
th, td {
  padding: 12px !important; 
  text-align: left !important;
  border-bottom: 1px solid #ddd !important;
}
th {
  background-color: #3b3b3b !important;
  color: white !important;
}
tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}
.disclaimer {
  font-size: 0.9em !important;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  text-decoration: none !important;
}

.Download {
  margin-bottom: 30px !important;
}

